@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  font-size: 36px;
  font-weight: 700;
  list-style-type: none;
  text-align: center;
  text-decoration: none;
  /* box-sizing: border-box; */
}
body {
  background-color: #9c835f;
}
/* header */
header {
  display: flex;
  align-items: center;
}
header p {
  color: #f9b23d;
  margin-left: 27px;
}
header img {
  width: 50px;
  margin-left: 27px;
}
/* end of header */
/* Main */

main {
  display: flex;
  justify-content: center;
  align-items: center;
}
main img {
  width: 70px;

  /* margin-top: 30px; */
}
main .player img {
  cursor: pointer;
}
/* End of Main */

/* Game Rules */
#opsi {
  border-radius: 20px;
  width: 90px;
  height: 90px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto;
}

.hasil {
  height: 140px;
  justify-content: center;
  display: flex;
  align-items: center;
  background-color: #4c9654;
  transform: rotate(20deg);
}

/* Refresh */
.refresh {
  width: 70px;
}
.refresh:hover {
  cursor: pointer;
}
